# Typographic quotes:

priority -1

snippet "\bgq" "„German double quote“" r
„${VISUAL}$1“
endsnippet

snippet "\bgsq" "‚German single quote‘" r
‚${VISUAL}$1‘
endsnippet

snippet "\bq" "„Double quote“" r
“${VISUAL}$1”
endsnippet

snippet "\bsq" "‚Single quote‘" r
‘${VISUAL}$1’
endsnippet

snippet "\betc" "Ellipsis …" r
…
endsnippet
