# Typographic quotes:

priority -1

snippet gq "„German double quote“"
„${VISUAL}$1“
endsnippet

snippet gsq "‚German single quote‘"
‚${VISUAL}$1‘
endsnippet

snippet q "„Double quote“"
“${VISUAL}$1”
endsnippet

snippet sq "‚Single quote‘"
‘${VISUAL}$1’
endsnippet

snippet etc "Ellipsis …"
…
endsnippet
