snippet sref "Cross-Reference (Auto Title) (Sphinx)"
:ref:\`$1\`
endsnippet

snippet ref "Cross-Reference (Manual title) (Sphinx)"
:ref:\`${1:${VISUAL:Title}} <${2:label}>\`
endsnippet

snippet lbl "Label" b
.. _${1:${VISUAL:label}}:

endsnippet
